#favorieten__button {
    background-color: #FF4040;
    border-radius: 5px;
    border: 3px solid #fff;
    transition: 0.4s;
}

#favorieten__button:hover {
    background-color: #fff;
    border: 3px solid #FF4040;
    font-size: 16px;
    font-weight: bold;
}

#favorieten__button a {
    display: block;
    color: #fff;
    padding: 10px;
}

#favorieten__button a:hover {
    color: #FF4040;
}
#favorieten__adder {
    display: flex;
}