/* BODY */

body {
    background-color: #FADFBB;
}

/* MAIN */

h1 {
    width: 200px;
    display: flex;
}
/* SECTIONS */

#search__section {
    display: flex;
    justify-content: center;
}


#filter__section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    gap: 200px;
}


#submitting__section form {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-right: 400px;
}
#submitting__section a {
    text-decoration: none;
}
#recepten__section {
    display: flex;
    justify-content: space-between;
}


/* IMAGES */

img {
    max-width: 100%;
}