#grid__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    margin: 20px;
}

.recept {
    flex: 0 0 27%;
    border: 1px solid;
    padding: 15px;
    box-sizing: border-box;
}

.recept a {
    text-decoration: none;
}