/* Modal dialog styles */
dialog {
    width: 50rem;
    height: 60rem;
    border-radius: 1rem;
}

dialog img {
    width: 40rem;
    height: 30rem;
    border-radius: 0.5rem;
}

dialog h3 {
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
}

#favorieten__added {
    background: none;
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
}

#favorieten__adder:hover i {
    color: red;
    transition: 0.5s;
}

.close {
    cursor: pointer;
}

.btn__group {
    display: flex;
    justify-content: space-between;
}

.btn__group button {
    padding: 0.5rem;
    width: 3rem;
    border: none;
    cursor: pointer;
    background-color: var(--text-light);
}

/* Responsive */

@media (max-width: 700px) {
    dialog {
      width: 90vw;
      height: auto;
      padding: 2rem;
    }
    dialog img {
      width: 100%;
      height: auto;
    }
  }
  @media (max-width: 400px) {
    dialog {
        width: 95vw;
        padding: 1rem;
        border-radius: 0.5rem;
    }
    dialog h3 {
        font-size: 1.8rem; 
    }
    #favorieten__added {
        font-size: 1.4rem; 
    }
}
